<main class="main">
  <div class="content">
    <h1>Travel Places Tracker</h1>

    <div class="search-container">
      <div>
        <label for="keyword">Keyword: </label>
        <input id="keyword" type="text" [(ngModel)]="keyword" placeholder="e.g. coffee" />
      </div>

      <div>
        <label for="location">Location: </label>
        <input id="location" type="text" [(ngModel)]="location" placeholder="e.g. 48.4666,35.0407" />
      </div>

      <button type="button" (click)="searchPlaces()">
        Search
      </button>
    </div>

    <h2>Search Results</h2>
    @if (searchResultPlaces().length > 0) {
      <app-places-list
        [places]="searchResultPlaces()"
        [wishlist]="wishlist()"
        (wishlistToggle)="toggleWishlist($event)"
      />
    } @else {
      <p>Find interesting places to add to your list.</p>
    }

    <h2>My Wishlist</h2>
    @if (wishlistPlaces().length > 0) {
    <app-places-list
      [places]="wishlistPlaces()"
      [wishlist]="wishlist()"
      (wishlistToggle)="toggleWishlist($event)"
    />
    } @else {
      <p>No places in your wishlist yet. Add your favorites to keep them here.</p>
    }
  </div>
</main>

<router-outlet />

